<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header, container-fluid'>
  <div class='row align-items-center justify-content-center'>
    <div class='search-bar-contents, col'>
      <div class='row align-items-center justify-content-center'>
        <div class='col'> 
          <%= link_to image_tag("Lending.png", size: '300x100', class:"Taking2-icon"), "/" %>
          <%= link_to image_tag("by.png", size: '30x30', class:"by-icon"), "/" %>
          <%= link_to image_tag("ankusu.png", size: '120x30', class:"ankusu-icon"), "/" %>
        </div>
      </div>
    </div>
  <%# コンポーネントを追加 %>
    <div class='nav, col'>
      <div class='lists-left, row align-items-center justify-content-center'>

        <div class='col-6 text-center'> 
          <% unless user_signed_in? %>
            貸出申請する場合はログインしてください
          <% else %>
            <%= link_to '貸出予約', new_rental_path, class: "btn btn-primary" %>
          <% end %>
        </div> 

        <% if user_signed_in? %>
          <div class='col-3 text-center weight-bold-text'> 
            <%#= link_to user_path(current_user.id), class: "text-white" do %>
              <%= current_user.name %>
            <%# end %>
          </div> 
          <div class='col-3 text-center'> 
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
          </div> 
        <% else %>
          <div class='col-3 text-center'> 
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          </div> 
          <div class='col-3 text-center'> 
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          </div> 
        <% end %>  
    </div>
  </div>
</header>