<%= render "shared/header" %>
<div class='rental-main'>
  <%# ピックアップタイトルの部分 %>
  <div class="container-fluid pickup_title">
    <h1 class="title">本日の日付：<%= Date.today %>(<%= %w(日 月 火 水 木 金 土)[DateTime.now.wday] %>)</h1>
  </div>

  <%# ピックアップタイトルの部分 %>

  <%# 作品一覧 %>
  <div class='rental-contents container-fluid'>
      <div class="index-search row" style="width:70vw">
      	<div class="col">
	        <%= form_for(@search_rental, url: {controller: 'rentals', action: 'search' }) do |f| %>
        　　　<%= f.collection_select(:equipment, Category.all, :id, :name, {}, {class:"select-box", id:"equipment-category"}) %>
	          <%= f.submit "貸出物検索", class: "search_btn" %>
	        <% end %>
        </div>
		<div class="col"> 
		<%= form_for(@search_user, url: {controller: 'rentals', action: 'search' }) do |f| %>
		  <%= f.text_field :name %>
		  <%= f.submit "氏名検索", class: "search_btn" %>
		<% end %>
		</div>
      	<div class="col">
	        <%= form_for(@search_rental, url: {controller: 'rentals', action: 'search' } ) do |f| %>
        　　　<%= f.collection_select(:status, Status.all, :id, :name, {}, {class:"select-box", id:"status-category"}) %>
	          <%= f.submit "貸出状態検索", class: "search_btn" %>
	        <% end %>
        </div>
      </div>
    <div class="row" style="width:100%">
      <h5 class="subtitle">貸出リスト</h5>
      <% @rentals.each do |r| %>
        <div class='rental-lists, col-3'>
          <%#= link_to rental_path(r.id) do %>
            <div class='rental-info'>
              <h4><%= r.equipment %></h4>
              <h4><%= r.code %></h4>
            </div>
          <%# end %>
        </div>
      <% end %>
    </div> 
    <%= paginate @rentals %>
  </div>
</div>
<%= render "shared/footer" %>