<%= render "shared/header" %>
<div class='rental-show' style="background: url(../images/red-curtain2.jpeg); background-size: cover; background-attachment: fixed; background-position: center center; padding: 30px 0; min-height: 70vh;">

  <%# 作品一覧 %>
  <div class='rental-search-contents container-fluid'>
    <h5 class="search-subtitle">検索結果</h5>
    <div class="row" style="width:100%">
      <% if @rentals.blank? %>
        <div class="no-hit-search">
          <h5>一致するデータはありませんでした</h5>
        </div>
      <% else %>
      <h3 class="subtitle">貸出リスト</h3>
        <table border="2" style="border-collapse: collapse; border-color: blue">
          <thead>
          <tr>
            <th>貸出機器</th>
            <th>型番</th>
            <th>貸出人氏名</th>
            <th>貸出予定日</th>
            <th>貸出許可日</th>
            <th>返却予定日</th>
            <th>返却確認日</th>
            <th>ステータス</th>
          </tr>
          </thead>
          <tbody>
                  <% @rentals.each do |r| %>
            <tr>
              <td>
                <% case r.equipment_id %>
                <% when 1 then %>
                   <p>ノートPC</p>
                <% when 2 then %>
                   <p>モニター</p>
                <% when 3 then %>
                   <p>ハードディスク</p>
                <% when 4 then %>
                   <p>ワイヤー</p>
                    <% end %>
              </td>
              <td>
                          <h4><%= r.code %></h4>
              </td>
              <td>
                          <h4><%= r.rental_user %></h4>
              </td>
              <td>
                          <h4><%= r.reserve_schedule_date %></h4>
                </td>
              <td>
                          <h4><%= r.reserve_actual_date %></h4>
                </td>
              <td>
                          <h4><%= r.return_schedule_date %></h4>
                </td>
              <td>
                          <h4><%= r.return_actual_date %></h4>
                </td>
              <td>
                <% case r.status_id %>
                <% when 1 then %>
                    <p>貸出申請中</p>
                    <% if current_user.admin? %>
                      <div class="row">
                        <div class="col">
                        <!-- 許可 -->
                        <%= form_for(@status, url: {controller: 'rentals', action: 'permission' } ) do |f| %>
                      <%= f.hidden_field :id, :value => r.id %>
                      <%= f.hidden_field :status_id, :value => r.status_id %>
                          <%= f.submit "許可", class: "btn btn-success" %>
                        <% end %>
                        </div>
                        <div class="col">
                        <!-- 却下 -->
                        <%= form_for(@status, url: {controller: 'rentals', action: 'no_permission' } ) do |f| %>
                      <%= f.hidden_field :id, :value => r.id %>
                      <%= f.hidden_field :status_id, :value => r.status_id %>
                          <%= f.submit "却下", class: "btn btn-danger" %>
                        <% end %>
                        </div>
                      </div>
                    <% end %>
                <% when 2 then %>
                   <p>貸出中</p>
                <% when 3 then %>
                   <p>返却申請中</p>
                    <% if current_user.admin? %>
                      <div class="row">
                        <!-- 確認 -->
                        <%= form_for(@status, url: {controller: 'rentals', action: 'permission' } ) do |f| %>
                          <%= f.hidden_field :id, :value => r.id %>
                          <%= f.hidden_field :status_id, :value => r.status_id %>
                          <%= f.submit "確認", class: "btn btn-info" %>
                        <% end %>
                      </div>
                    <% end %>
                <% when 4 then %>
                   <p>返却済み</p>
                <% when 5 then %>
                   <p>取消申請中</p>
                <% when 6 then %>
                   <p style="color: gray;">取消済み</p>
                <% when 7 then %>
                   <p style="color: red;">延滞注意</p>
                <% when 8 then %>
                   <p style="color: gray;">貸出却下</p>
                    <% end %>
                </td>
            </tr>
              <% end %>
            <tbody>
        </table>
      <% end %>
    </div> 
  </div>
</div>
<%= render "shared/footer" %>